**Map,Filter,Reduce**

- These are built-in function 
- That allow us to apply a function to a sequence of elements and return a new sequence.
- These functions are known as higher-order functions
- As they take other functions as arguments

**map**

- map function applies a function to each element in a sequence
- then returns a new sequence which containing the transformed elements
- syntax: map(function:iterable)
    - function argument:function that is applied to each element in the iterable argument
    - iterable argument: it can be a List,Tuple or any other iterable object

In [4]:
# cube of elements in a List
l1=[2,4,3,5,6]
new_l1=[]
for i in l1:
    new_l1.append(i*i*i)

print(new_l1)

[8, 64, 27, 125, 216]

In [7]:
# with the help of map
l1=[2,4,3,5,6]
list(map(lambda x:x**3,l1))

[8, 64, 27, 125, 216]

In [13]:
l2=['mumbai','delhi','pune','hyd']
list(map(lambda i:i.title(), l2))

['Mumbai', 'Delhi', 'Pune', 'Hyd']

**Filter**

- Filter function filters a sequence of element based on a given condition
- And return a new sequence containing only a elements that meet the condition
- Syntax for Filter: Filter(Condition,iterator)

In [14]:
# to find even number from the list using filter function
l2=[4,3,6,7,9,5,8,1,2]
list(filter(lambda x:(x%2==0),l2))

[4, 6, 8, 2]

In [16]:
# without filter function
l2=[4,3,6,7,9,5,8,1,2]
new_l2=[]
for i in l2:
    if i%2==0:
        new_l2.append(i)
print(new_l2)

[4, 6, 8, 2]

- as we can see filter function have condition (i%2==0) 
- which filter out the even numbers from the given list
- filter function always have a condition eighter True or False
- based on the condition it will pass the output
- in these case, we want output in the list form so we have apply list.
- to get the output in list.
- these are in-line functions,reduce the line of code.

**Reduce**

- Reduce function provides a single value on execution
- these function takes another function and sequence of itherables as parameter
- The function tool module must be used to import this function
- Syntax:reduce(function,iterables)

In [18]:
# sum of all the elements in the list
import functools as ft
l3=[2,3,4,7,5,6,8]
ft.reduce(lambda sum,i:sum+i,l3)
# step-1:Import the functools 
# step-2:apply lambda function <agruments>:<expression>,<list>

35

In [19]:
# to find the max value from the list
import functools as ft
l4=[4,3,6,7,8,9,10]
ft.reduce(lambda x,y:x if x>y else y,l4)

10

In [20]:
# to find min 
import functools as ft
l4=[4,3,6,7,8,9,10]
ft.reduce(lambda x,y:x if x<y else y,l4)

3