## Assignment_No_18

In [ ]:
- representation

- type

- len

- max

- min

- sum

- sorted

- reversed

- in

- for loop with in

- index

- for loop with index

- mutable and immutable

- slicing

- concatenation

- Methods

In [ ]:
**representation**
- Tuples represented by round bracket
- objects in it is seperated by ,

In [1]:
Tuple=("java","Python","CPP","HTML")
print(Tuple)

('java', 'Python', 'CPP', 'HTML')

In [16]:
t1=(100,'Apple',('A',2))
t1

(100, 'Apple', ('A', 2))

In [22]:
name=("nareshIt",)
t1=("Apple",name)
t1
#var assigment also possible in the tuples

('Apple', ('nareshIt',))

In [3]:
type(Tuple)

tuple

In [5]:
a=("Apple",)
type(a)
# here when we add only one item and find type of it- the ans will be str
# so in such cases we have to add quama to make sure that the given 
# representation is tuple

tuple

In [6]:
tuple=(1,2,3,4,5)
len(tuple)

5

In [7]:
tuple1=("ABB","BCC","CDD","DEE")
len(tuple1)

4

In [8]:
tuple1=("ABB","BCC","CDD","DEE")
max(tuple1)

'DEE'

In [9]:
tuple1=("ABB","BCC","CDD","DEE")
min(tuple1)

'ABB'

In [10]:
tuple=(1,2,3,4,5)
print(max(tuple))
print(min(tuple))

5
1

In [12]:
tuple=(1,2,3,4,5)
print(sum(tuple))

15

In [13]:
tuple1=("ABB","BCC","CDD","DEE")
print(sum(tuple1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
t1=(1,2,3,4,5)
t1.sorted()

AttributeError: 'tuple' object has no attribute 'sorted'

In [25]:
tuple1=("ABB","BCC","CDD","DEE")
tuple1.reversed()

AttributeError: 'tuple' object has no attribute 'reversed'

**In**

In [27]:
tuple1=("ABB","BCC","CDD","DEE")
"ABB" in tuple1

True

In [28]:
tuple=(1,2,3,4,5)
1 in tuple

True

**For loop with in**

In [30]:
tuple1=("ABB","BCC","CDD","DEE")
for i in tuple1:
    print(i)

ABB
BCC
CDD
DEE

**Index**

In [37]:
t2=(1,2,3,'Apple','Bat','Cat',(True,False))
t2[0],t2[3],t2[6]
#They allow you to access their elements by integer indices that start from zero.

(1, 'Apple', (True, False))

In [46]:
t2=(1,2,3,'Apple','Bat','Cat',(True,False))
sum=0
for i in range(len(t2)):
    sum=sum+i

print(sum)
# sum of all the index

21

In [49]:
t2=(1,2,3,'Apple','Bat','Cat',(True,False))
for i in range(len(t2)):
    print(f"the poditive index of {t2[i]} is {i}")

the poditive index of 1 is 0
the poditive index of 2 is 1
the poditive index of 3 is 2
the poditive index of Apple is 3
the poditive index of Bat is 4
the poditive index of Cat is 5
the poditive index of (True, False) is 6

In [53]:
Tuple=("java","Python","CPP","HTML")

for i in range(len(Tuple)):
    print(f"the negative index of {Tuple[i]} = {i-(len(Tuple))}")

the negative index of java = -4
the negative index of Python = -3
the negative index of CPP = -2
the negative index of HTML = -1

**mutable and immutable**

In [47]:
tuple1=("ABB","BCC","CDD","DEE")
tuple1[0]="ABC"
tuple1

TypeError: 'tuple' object does not support item assignment

In [ ]:
- tuple is immutable as it does not support item assignment
- tuple does not support changes in their original elements

**slicing**

In [54]:
t1=("java","Python","CPP","HTML")
t1[0:3]

('java', 'Python', 'CPP')

In [57]:
t2=("java","Python","CPP","HTML",(True,False))
t2[2:5]

('CPP', 'HTML', (True, False))

In [58]:
t2=("java","Python","CPP","HTML",(True,False))
t2[2:]

('CPP', 'HTML', (True, False))

In [59]:
t2=("java","Python","CPP","HTML",(True,False))
t2[::5]

('java',)

In [60]:
t2=("java","Python","CPP","HTML",(True,False))
t2[1::]

('Python', 'CPP', 'HTML', (True, False))

**concatenation**

In [61]:
t=(1,2,3,4)
t1=("A","B","C","D")
t3=t+t1
t3

(1, 2, 3, 4, 'A', 'B', 'C', 'D')

In [62]:
t=(1,2,3,4)
t1=("A","B","C","D")
print(t-t1)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [63]:
t=(1,2,3,4)
t1=("A","B","C","D")
print(t*t1)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [64]:
t=(1,2,3,4)
t1=("A","B","C","D")
print(t/t1)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [73]:
t=(1,2,3,4)
t2=(5,6,7,8)
print(t*t2)

AttributeError: 'tuple' object has no attribute 'mul'

In [69]:
t=(1,2,3,4)
t2=(5,6,7,8)
t[2]*t2[1]

18

In [44]:
t1=("A","B","C","D")
t2=(1,2,4,"Apple",True)
t=t1+t2
t

('A', 'B', 'C', 'D', 1, 2, 4, 'Apple', True)

In [5]:
tup1=(1,2,3,4,3,5,3,6,7,4,6,4,8,6,3)
tup1.count(6)
# count how many times the element has occured in the tuple.

3

In [6]:
tup1=(1,2,3,4,3,5,3,6,7,4,6,4,8,6,3)
t=tup1.count(4)
t

3

In [7]:
#Index
tup1=(1,2,3,4,3,5,3,6,7,4,6,4,8,6,3)
t=tup1.index(3)
t

2

In [11]:
tup1=(1,2,3,4,3,5,3,6,7,4,6,4,8,6,3)
t=tup1.index(3, 1, 9)
t

2

In [13]:
tup1=(1,2,3,4,3,5,3,6,7,4,6,4,8,6,3)
tup1.index(3,3,5)

4

In [15]:
tup1=(1,2,3,4,3,5,3,6,7,4,6,4,8,6,3)
tup1.index(4,7,12)

9

- index method returns the first occurance of the given element
- syntax: tuple.index(element,start,end)
- if we enter the element which is not present in the tuple it will give error:valueError

In [16]:
tup=(1,2,4,6,3,8,6,7)
l=len(tup)
l

8

In [39]:
tup=(1,2,4,6,3,8,6,7)